.table{
    border: 3px solid black;
    margin-top: 23px;
}
h1,p{
    text-align: center;
}

body {
    background-image: url('https://img.freepik.com/free-photo/homemade-delicious-sandwiches-black-board-dark-gray-blurred-surface-vertical-view_179666-42623.jpg?size=626&ext=jpg&ga=GA1.1.1564686621.1702918120&semt=ais');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    backdrop-filter: blur(13px) saturate(169%);
    -webkit-backdrop-filter: blur(13px) saturate(169%);
    background-color: rgba(146, 146, 152, 0.38);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

